h3 {
    margin-top: 30px;
    margin-bottom: 20px;
}

body {
    background-color: #F5F9FC;
}

.user {
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
}

.last {
    padding-bottom: 100%;
}

.tasks {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 100px;
}

.suggestions {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 100px;
}

.container {
    display: inline-flex;
    margin-left: 0;
    padding-left: 0%;
}

.userskillcardMain {
    border-bottom: solid #DFDFDF 3px;
    display: flex;
}

.card-body {
    padding: 0.8rem;
}

.userimg {
    width: 120px;
    position: absolute;
    left: 7.5px;
    top: 7.5px;
}

.userimg2 {
    width: 120px;
    position: absolute;
    left: 7.5px;
    top: 142.5px;
}

.userimg3 {
    width: 120px;
    position: absolute;
    left: 7.5px;
    top: 277.5px;
}

.userimg4 {
    width: 120px;
    position: absolute;
    left: 7.5px;
    top: 412.5px;
}

.usercardname {
    position: absolute;
    top: 10px;
    left: 135px;
}

.usercardname2 {
    position: absolute;
    top: 145px;
    left: 135px;
}

.usercardname3 {
    position: absolute;
    top: 280px;
    left: 135px;
}

.usercardname4 {
    position: absolute;
    top: 415px;
    left: 135px;
}

.userskillsList {
    position: absolute;
    left: 135px;
    top: 35px;
}

.userskillsList2 {
    position: absolute;
    left: 135px;
    top: 170px;
}

.userskillsList3 {
    position: absolute;
    left: 135px;
    top: 305px;
}

.userskillsList4 {
    position: absolute;
    left: 135px;
    top: 440px;
}

.userbtn {
    position: absolute;
    left: 135px;
    top: 85px;
}

.userbtn2 {
    position: absolute;
    left: 135px;
    top: 220px;
}

.userbtn3 {
    position: absolute;
    left: 135px;
    top: 355px;
}

.userbtn4 {
    position: absolute;
    left: 135px;
    top: 490px;
}

.userskillcard {
    border-bottom: solid #DFDFDF 3px;
    height: 135px;
    width: 280px;
}


/*---------------------------------------------------*/

.side {
    text-align: center;
    background-color: #FFFFFF;
    height: 100vh;
    padding: 50px;  
    font-family: 'Open Sans', sans-serif;
}

.sideimg {
    width: 80px;
    border-radius: 100%;
    margin-top: 50px;
}

.sidebar {
    background-color: #FFFFFF;
    margin-right: 2px;
    padding-left: 8px;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 25px;
    color: #FB5F3D;
    margin-top: 15px;
}

.sidebtn {
    position: absolute;
    top: 35px;
    left: 80px;
    background-color: #E0F1FF;
    border-width: 0;
    font-weight: 600;
}

.sidetitle {
    font-weight: 600;
}

.sidetext {
    font-weight: 500;
    font-size: 25px;
}

.fas {
    padding: 10px;
    font-size: 25px;
}

.linkbar {
    margin-top: 20px;
    background-color: #D4ECFF;
    width: 200px;
    margin-left: 30px;
    border-radius: 10px;
}

.myskills {
    margin-top: 20px;
    background-color: #F5F9FC;
    width: 200px;
    margin-left: 30px;
    border-radius: 10px;
}

.formmyskill {
    text-align: left;
}

.btnmyskill {
    margin-top: 5px;
}

/* .skilltitle {
    margin: auto;
} */

/* .removebutton {
    margin-left: ;
} */