h3 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.user {
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
}

.last {
    padding-bottom: 100%;
}

.tasks {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 100px;
}

.suggestions {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 100px;
}

.container {
    display: inline-flex;
}

.userskillcard {
    border-bottom: solid #DFDFDF 3px;
    display: flex;
}

.card-body {
    padding: 0.8rem;
}
/* .skilltitle {
    margin: auto;
} */

/* .removebutton {
    margin-left: ;
} */